# ===== Python / Flask =====
/backend/venv/
/backend/__pycache__/
/backend/*.py[cod]

# ===== Node / React =====
/frontend/node_modules/
/frontend/build/

# dotenv files
*.env

# logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
